.parent{
    max-width: 800;
    border: 1px solid white;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding: 20px;
}
img{
    width:200px;
    padding:20px;
    align-items: center;
    display: block;
    margin: auto;
    border-radius: 100px;
}
.card{
    justify-content: space-between;
    box-shadow: 1px 1px 10px gray;
    
}
nav{
     margin: auto;
    display: flex;
    justify-content: space-around;
     text-align: center;
}
h4{
    text-align: center;
    color: darkolivegreen;
}
h2{
    text-align: center;
    color:brown
}
p{
    padding: 10px;
}